/* Changes font size and font family */
body {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

/* Adds background colour to header and footer */
header, footer {
    background-color: rgb(210, 210, 255)
}

/* Uses class selector to change colour of main headings */
.site-title {
    color:rgb(9, 9, 118)
}

/* Uses Id selector to create box shadow */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Only changes round bullet points to square in the hobbies list */
article li {
    list-style-type: square;
}

/* Uses nth-child to add background to every odd hobby */
article li:nth-child(odd) {
    background-color: rgb(210, 210, 255);
}

/* Removes bullet point from nav list */
nav ul {
    list-style-type: none;
}

/* Removes underline from links, adds border */
a {
    text-decoration: none;
    border: 1.5px solid rgb(0, 0, 168)
}

/* adds background colour to link */
a:link {
    background-color: rgb(210, 210, 255);
}

a:visited {
    background-color: rgb(210, 210, 255);
}

/* changes background colour on hover */
a:hover {
    background-color: rgb(222, 187, 255);
}

a:active {
    background-color: rgb(222, 187, 255);
}