/* padding left 0 for unordered fact list!!!!!!! */

/* sets background colour */
body {
    background-color: rgb(5, 0, 18);
}

/* adds width and centers all content in wrapper div*/
.wrapper {
    width: 1000px;
    margin: auto;
    background-color: rgb(213, 213, 213);
}

/* places h1 on top of image, changes font colour & size, centers text */
.container h1 {
    color: rgb(255, 255, 255);
    font-size: 75px;
    position: absolute;
    width: 1000px;
    top: 115px;
    text-align: center;
}

/* crops image */
img {
    object-fit: cover;
    width: 1000px;
    height: 300px;
}
