/* general */




/* sets font */
body {
    /* width: 760px or 706; */
    font-family: 'Open Sans';
}





/* welcome banner */




/* creates padding and adds bg colour for header */
header {
    padding: 14px;
    background-color:#222;
}

/* sizes logo */
header img {
    width: 101px;
    height: 101px;
}

/* creates padding and adds background colour */
.banner {
    background-color: #c78c06;
    height: 122px;
    padding-top: 20px;
}

/* aligns links and search bar */
nav {
    text-align: center;
}

/* adds padding to list items */
li {
    padding: 24px;
}

/* removes underline from links */
a{
    text-decoration: none;
}

/* text turns black, background turns orange on hover */
li:hover {
    background-color: #c78c06;
    a {
        color: #222;
    }
}

/* colours links */
a:link {
    color: #c78c06
}

a:visited {
    color: #c78c06;
}

/* sets search bar size */
input {
    height: 43px;
    width: 638px;
    font-size: large;
}

/* sets search button dimensions & border colour */
header button {
    height: 48px;
    width: 48px;
    border-color: #c78c06;
    background-color: #222;
}

/* changes search button colour and size, centers */
header .material-symbols-outlined {
    color:#c78c06;
    font-size: 1cm;
    text-align: center;
}

/* centers search bar and button */
form {
    display: flex;
    justify-content: center;
}





/* welcome page*/




/* adds background image for welcome page */
.container {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 69px;
    padding-bottom: 67px;
}

/* adds low opacity rectangle in background */
.container article {
    background-color: rgba(34, 34, 34, 75%);
    padding-top: 35px;
    padding-bottom: 15px;
}

/* adds colour and padding to text */
.container h1, .container p {
    color: white;
    padding-left: 15px;
}

/* bolds font, sets font size and line height */
.container h1 {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.6;
    padding-bottom: 15px;
}

/* sizes and formats text */
.container p {
    font-size: 13px;
    line-height: 1.6;
    padding-bottom: 15px;
}

/* padding for button */
.connect-btn {
    padding-left: 15px;
}

/* styles button & properly formats*/
.container button {
    height: 85px;
    background-color: #c78c06;
    font-size: 18px;
    border: none;
    padding-left: 26px;
}

/* styles and formats play button symbol */
.container .material-symbols-outlined {
    font-size: 50px;
    vertical-align: middle;
}





/* about us */



/* adds background colour */
.about-us {
    background-color: #ffe6ac;
}

.about-us img {
    margin: 15px;
    height: 95%;
    width: 95%;
}